* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-text: hsl(237deg, 18%, 59%);
  --color-numbers: hsl(345deg, 95%, 68%);
  --color-title: hsl(0deg, 0%, 100%);
  --color-background-bottom: hsl(236deg, 21%, 26%);
  --color-background-top: hsl(235deg, 16%, 14%);
  --color-shadow: hsl(234deg, 17%, 12%);
}

body {
  width: 100%;

  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;

  background-color: hsl(235deg, 16%, 14%);
  background-image: url("../public/images/bg-stars.svg");
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 65vh;
}

.title {
  width: 86%;
  margin: 15px 0 45px;

  font-size: 21px;
  color: var(--color-title);
  text-align: center;
  letter-spacing: 5px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96%;
}

.time {
  margin: 0.5rem;
  text-align: center;
}

.box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  font-size: 33px;
  color: hsl(345deg, 95%, 68%);

  background: linear-gradient(
    hsl(234deg, 18%, 20%) 50%,
    hsl(234deg, 17%, 23%) 50%
  );
  border-radius: 5px;
  box-shadow: 0 5px rgba(10, 10, 10, 25%);

  transition: all 0.3s ease-in;
}

.box .active {
  transform: translateY(360deg);
}

.box::after {
  content: "";

  position: absolute;
  left: -1%;

  width: 6%;
  height: 7%;

  background-color: rgba(10, 10, 10, 65%);
  border-radius: 2px;
}

.box::before {
  content: "";

  position: absolute;
  right: -1%;

  width: 6%;
  height: 7%;

  background-color: rgba(10, 10, 10, 65%);
  border-radius: 2px;
}

.days p,
.hours p,
.minutes p,
.seconds p {
  padding-top: 10px;
  font-size: 7px;
  color: hsl(237deg, 18%, 59%);
  letter-spacing: 3px;
}

footer {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 25vh;

  color: var(--color-title);

  background-image: url("../public/images/pattern-hills.svg");
  background-size: cover;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

@media (min-width: 641px) {
  .title {
    width: 86%;
    margin: 35px 0 55px;
    font-size: 28px;
    letter-spacing: 7px;
  }

  .box {
    width: 145px;
    height: 145px;

    font-size: 40px;

    border-radius: 8px;
    box-shadow: 0 10px rgba(10, 10, 10, 25%);
  }

  .days p,
  .hours p,
  .minutes p,
  .seconds p {
    padding-top: 20px;
    font-size: 14px;
    letter-spacing: 6px;
  }
}
